.post {
    width: 90%;
    margin: 3rem auto;
}

.post img {
    width: 100%;
    object-fit: contain;
}

.category {
    display: block;
    margin: 0.7rem 0;
    font-size: 30px;
    text-decoration: underline;
}

.desc {
    font-size: 14px;
    line-height: 20px;
}

.btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--dark-yellow);
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
}

@media screen and (max-width:900px){
    .post img {
        object-fit: cover;
        height: 350px;
    }
    
    
.category {
    margin: 0.5rem 0;
    font-size: 25px;
}

.desc {
    font-size: 12px;
    line-height: 17px;
}

.btn {
    margin-top: 1.5rem;
    padding: 0.8rem 2rem;
    font-size: 16px;
}
}

@media screen and (max-width:650px){
    .post img {
        object-fit: fill;
        height: 300px;
    }
    
    
.category {
    margin: 0.3rem 0;
    font-size: 20px;
}

.desc {
    font-size: 10px;
    line-height: 13px;
}

.btn {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    font-size: 14px;
}
}

@media screen and (max-width:450px){
    .post img {
        height: 200px;
    }
    
}