@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-yellow: #FEFAE0;
  --medium-yellow: #D4A373;
  --dark-yellow: #5e1c05; 
}

body {
  background-color: var(--light-yellow);
  color: var(--dark-yellow);
}